.background-img {
  position: fixed; /* Fixes the image to cover the entire viewport */
  top: 64px;
  left: 0;
  width: 100%;
  height: 100%;
}

.main {
  padding-bottom: 90px;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.5rem;
  width: 100%; /* Full width */
}

.custom-header {
  background-color: #0056f6;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  padding: 15px 20px;
  text-align: center;
  text-transform: none;
  width: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.custom-header:hover {
  background-color: #003fb5; /* Darker blue on hover */
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
  background-color: #e4eaf4;
  width: 100%;
  border-radius: 10px;
}

/* Profile Card */
.profile-card {
  width: 300px;
  height: 315px;
  text-align: center;
  padding: 15px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-top: 30px;
}

.profile-image {
  width: 100px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.profile-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Details Card */
.details-card {
  width: 650px;
  padding: 20px;
  border-radius: 12px;
}

.details-form {
  display: flex;
  flex-direction: column;
}

/* Align label and input inline */
.input-group {
  display: flex;
  align-items: center; /* Vertically align label and input */
  flex: 1;
  margin-top: 25px;
  border: none;
  background-color: white;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

/* Style for label */
label {
  background-color: #0056f6;
  color: white;
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap; /* Prevents wrapping */
  width: 25%;
}

/* Style for input */
input {
  flex: 1; /* Make input take full space */
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

/* Heading Styling */
h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 10px;
}

/* Align Button Right */
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

button {
  background-color: #0056f6;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #0470e3;
}
