 <div style="margin-top:55px">
 <lib-nemo-reusable-tbl [showAddButton]="true"
    [addButtonLabel]="'Add Organizational Structure Mapping'" (onAdd)="addResponsibility()" [searchResultTitle]="'Organizational Structure Mapping List'" [columns]="columns"
    [dataSource]="dataArray" [rowsPerPage]="10" [tableWidth]="'100%'" [showSearch]="true" [showActions]="true"
    [showDeleteOption]="onDeleteRequest" [showDetailsOption]="onDetail" (editAction)="onEditRow($event)"
  (deleteAction)="deleteList($event)"
    (searchResult)="onSearch($event)">
  </lib-nemo-reusable-tbl>
</div>