.mandatory {
  color: red;
  // font-size: 0.875rem;
  // margin-top: 0.25rem; 
  // white-space: nowrap; 
  // overflow: hidden; 
  // text-overflow: ellipsis; 
  font-size: 0.875rem; 
  margin-top: 0.25rem; 
  white-space: nowrap; 
  overflow: visible; 
}

.main{
  // margin :5rem auto;
  padding-bottom: 5rem;
}
.container {
max-width: 400px;
margin: 2rem auto;
padding: 2rem;
background: white;
border-radius: 8px;
}

h1 {
margin: 0 0 2rem;
font-weight: 600;
color: rgba(0, 0, 0, 0.87);
}

.source-form {
display: flex;
flex-direction: column;
gap: 1rem;
margin-bottom: 2rem;
}
.mat-headline-4{
margin: 0px!important;
font-size: 24px;
font-weight: 600;
line-height: 40px;

}

.full-width {
width: 100%;
}

.add-button {
background-color: #000!important;
color: white;
padding: 0.5rem 1.5rem;
align-self: flex-start;
}

.add-button mat-icon {
margin-right: 8px;
}

.source-table {
width: 100%;
margin-top: 2rem;
border: 1px solid rgba(0, 0, 0, 0.12);
border-radius: 4px;
overflow: hidden;
}

:host ::ng-deep .mat-mdc-header-cell {
background: #fafafa;
color: rgba(0, 0, 0, 0.87);
font-weight: 500;
padding: 1rem;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
display: none;
}
.status-toggle {
padding: 15px 0;
border: 1px solid #8e8a8a;
border-radius: 5px;
padding-left: 15px;
}
.status-label {
display: inline-block;
margin-bottom: 1px;
color: rgba(0, 0, 0, 0.87);
}

.header-container {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
width: 100%; /* Full width */
}

.custom-header {
background-color: #0056f6;
color: white;
font-size: 18px;
font-weight: bold;
border-radius: 12px;
padding: 15px 20px;
text-align: center;
text-transform: none;
width: 100%;
max-width: 100%;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
cursor: pointer;
}

.custom-header:hover {
background-color: #003fb5; /* Darker blue on hover */
}