<div class="main" [style.background-image]="backgroundImage" [style.background-repeat]="'repeat'"
    [style.background-size]="'auto'">
    <div class="login-wrapper">
        <div class="left-section">
            <div class="logo-box">
                <img src="/assets/img/fovesta1.png" alt="Fovesta Icon" class="logo-img" />
                <span class="divider-line"></span>
                <span class="label">HRMS</span>
            </div>

            <div class="text-section">
                <h1>Payroll / HR Software</h1>
                <p>
                    Streamline your workforce management with our <br>
                    comprehensive payroll and HR solutions. Simplify <br>
                    employee management, automate payroll <br>
                    processing, and enhance productivity.
                </p>
                <div class="image-wrapper">
                    <img src="/assets/img/login.png" alt="login page" class="illustration-img">
                </div>
            </div>

            <div class="footer">
                <span> Copyright © 2025 Outsmart Technology</span>
                <!-- <div class="footer-divider"></div> -->
                <span>Marketed by: Sprint Digitech</span>
            </div>
        </div>

        <!-- right section (card) -->
        <div class="right-section">
            <mat-card class="login-card">
                <mat-card-content>
                    <div class="login-header">
                        <h1>Set Password</h1>
                    </div>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">User ID or Email ID</label>
                            <fv-entry-field [control]="emailControl" [schema]="emailSchema" placeholder="Email"
                                [readonly]="true">
                            </fv-entry-field>
                        </div>
                        <!-- New Password -->
                        <div class="form-group">
                            <label for="password">Password</label>
                            <fv-entry-field [control]="newPasswordControl" [schema]="passwordSchema"
                                placeholder="Password" type="password">
                            </fv-entry-field>
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-group">
                            <label for="password"> Confirm Password</label>
                            <fv-entry-field [control]="confirmPasswordControl" [schema]="confirmPasswordSchema"
                                placeholder="Confirm Password" type="password">
                            </fv-entry-field>
                        </div>
                        <!-- Submit -->
                        <button mat-raised-button class="login-button" type="submit"
                            style="background-color: #006AFF; color:#FFFFFF; font-family: Poppins;"
                            [disabled]="isLoading">
                            {{ isLoading ? 'Saving...' : 'Set Password' }}
                        </button>

                        <!-- Server error -->
                        <div *ngIf="isError" class="alert alert-danger " style="margin-top: 4px;">
                            {{ apiMessage }}
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>