<div class="header-container" style="margin-top: 55px;">
  <!-- <h2 class="custom-header">List of Menu Master</h2>
</div>

<div class="container">
  <div class="search-container">
    <lib-nemo-search-option (keyup)="handleSearch($event)"></lib-nemo-search-option>
  </div>
  <button class="add-button" (click)="addMenuMaster()">Add Menu Master +</button>
</div> -->



<lib-nemo-reusable-tbl [searchResultTitle]="'Menu Master List'" [showAddButton]="true"  [addButtonLabel]="'Add Menu Master'" (onAdd)="addMenuMaster()"
[columns]="columns" [dataSource]="dataArray" [rowsPerPage]="20" [tableWidth]="'100%'"
  (editAction)="onEditRow($event)" (deleteAction)="deleteManu($event)" [showDeleteOption]="deleteMaster" [showDetailsOption]="menuMasterDetails"
  [showSearch]="true">
</lib-nemo-reusable-tbl>
